.uploadBtn {
  display: inline-block;
  margin-bottom: 10px;
}
.emoji_wrap .xiaohongshu_img_icon .clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.emoji_wrap .xiaohongshu_img_icon li {
  float: left;
  list-style: none;
  cursor: pointer;
  border: 1px solid #fff;
  height: 22px;
}
.emoji_wrap .xiaohongshu_img_icon li:hover {
  border-color: red;
}
.emoji_wrap .emoji_list {
  white-space: pre-wrap;
}
.emoji_wrap .emoji_list i {
  display: inline-block;
  font-style: normal;
  cursor: pointer;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border: 1px solid #fff;
  overflow: hidden;
}
.emoji_wrap .emoji_list i:hover {
  border-color: red;
}
.ivu-upload-list {
  display: none;
}
.emoji {
  display: inline-block;
  margin-left: 10px;
}
.emoji .ivu-poptip-popper {
  width: 100%;
}
.emoji i.ivu-icon {
  font-size: 22px;
  cursor: pointer;
}
